body,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh
}

* {
    box-sizing: border-box;
}

.container {
    --blue: rgb(39, 158, 255);
    --white: #ffffff;
    --grey: rgb(214, 209, 209);
    --orange: rgb(219, 153, 11);

    height: 100%;
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar contents"
        "sidebar footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr 10fr 1fr;
    font-family: sans-serif;
}

.sidebar {
    background-color: var(--blue);
    grid-area: sidebar;
    padding: 1rem;
    color: var(--white);
}

.sidebar .title {
    margin: 0
}

.sidebar .titleDiv {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar .navbar {
    margin: 2rem 1rem 2rem 1rem;
}

.sidebar .navbar a {
    font-weight: 600;
    color: white;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.sidebar .navbar p:nth-last-child(3) {
    margin-top: 3rem;
}

.sidebar .titleDiv>svg {
    width: 3rem
}

.sidebar svg {
    fill: white;
    width: 1.5rem
}

.profile-logo {
    width: 3rem;
    border-radius: 50%;
}

a {
    text-decoration-line: none;
}

.header {
    background-color: var(--white);
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .top {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.top .search {
    align-items: center;
    flex: 1;
    display: flex;
    gap: 1rem;
}

.search input {
    flex: 1;
    height: 1.8rem;
    border-radius: 1rem;
    border: none;
    padding: 2px 1rem;
    font-weight: 600;
    background-color: var(--grey);
}

.top button,
.card-btns button {
    background-color: var(--white);
    border-radius: 50%;
}

.top .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top .profile .name {
    font-size: 1.2rem;
    font-weight: 600;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.bottom .action-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bottom .action-btns button {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1.5rem;
    height: 2rem;
    padding: 1.5rem 2rem;
}

.bottom .intro {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bottom .intro p {
    margin: 0;
    font-weight: 600;
}

.bottom .intro p:last-child {
    font-size: 1.5rem;
}

.bottom img {
    width: 4rem
}

.top,
.bottom {
    padding: 1rem 2rem
}


svg {
    width: 1.5rem
}

button {
    border: 1px solid transparent;

    &:active {
        background-color: var(--grey) !important;
    }

    &:hover {
        border: 1px solid black
    }
}

.content {
    background-color: var(--grey);
    grid-area: contents;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    gap: 1.5rem
}

.projects>p,
.projects .card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 1rem
}

.projects .card-text {
    margin-bottom: 1rem;
}

.projects .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.projects .project-card {
    background-color: var(--white);
    border-radius: 5px;
    border-left: 10px solid var(--orange);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.projects .project-card .card-btns {
    align-self: end;
    margin-top: auto
}

.info-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "announce"
        "trend";
}

.info-grid>div {
    display: flex;
    flex-direction: column;
}

.announcements {
    grid-area: announce
}

.trending {
    grid-area: trend;
}

.info-grid>div>p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.info-grid p {
    margin: 0
}

.info-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
    flex: 1;
}

.info-card>div {
    flex: 1
}

.info-card .row-header {
    font-size: 1rem;
    font-weight: 600;
}

.info-card .row-text {
    font-size: 0.8rem;
}

.announcement-row {
    display: flex;
    flex-direction: column;
    gap: 1rem
}


.announcement-row:not(:last-child) {
    border-bottom: 1px solid var(--grey)
}

.footer {
    background-color: var(--orange);
    height: 100%;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    text-shadow: 2px 1px 1px black
}

.footer img {
    border-radius: 50%;
    width: 2rem
}